<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!--//控制台日志输出-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                <!--%d-%msg%n-->
                %d [%thread] %-5level %logger{36} [%file : %line] - %msg%n
            </pattern>
        </layout>
    </appender>

    <!--//Info文件日志输出格式-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <!--输出格式-->
            <pattern>
                %d [%thread] %-5level %logger{36} [%file : %line] - %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>H:\Log\Info\Info.%d.log</fileNamePattern>
            <!--Linux环境下换<fileNamePattern>/var/log/sell/</fileNamePattern>-->
        </rollingPolicy>
    </appender>

    <!--//Error文件日志输出格式-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <!--输出格式-->
            <pattern>
                %d [%thread] %-5level %logger{36} [%file : %line] - %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>H:\Log\Error\Error.%d.log</fileNamePattern>
            <!--Linux环境下换<fileNamePattern>/var/log/sell/</fileNamePattern>-->
        </rollingPolicy>
    </appender>

    <!--//输出调用-->
    <root level="info">
        <!--<appender-ref ref="consoleLog" />-->
        <appender-ref ref="fileInfoLog" />
        <appender-ref ref="fileErrorLog" />
    </root>
    <root level="info">
        <appender-ref ref="consoleLog" />
    </root>
</configuration>